@model ContactPage

@{
    ViewBag.Title = "İletişim sayfası";
}

<h2>@ViewBag.Title</h2>


<div id="lipsum">
    <h2 class="text-center">@Model.TitleName.</h2>
     @Html.Raw(@Model.ContactPageContent)
</div>

<div id="generated">
    5 paragraf, 584 sözcük, 3953 karakter
    <a href="https://tr.lipsum.com/" title="Lorem Ipsum">Lorem Ipsum</a> üretilmiştir
</div>
<hr />
Adı : @Model.FullName

<br/>
Email : @Model.EmailAdress